@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #110d17;
  --color-background-accent: #343633;

  /* palette one */
  --color-primary: #ffd131;
  --color-secondary: #ff1053;

  --color-text: #f7f4f0;
  --color-text-muted: #afaca9;
  --color-dark: #080f0f;
  --color-dark-muted: #2c2c2c;
  --color-dark-muted-hover: #424242;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-background;
}

section {
  @apply py-12 md:py-24;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  @apply font-header uppercase tracking-tighter font-extrabold text-3xl;
  word-spacing: 0.15em;
  line-height: 1;
}

h3 {
  @apply font-header font-extrabold text-xl md:text-3xl mb-3;
}

h4 {
  @apply font-header font-semibold text-lg uppercase;
}

h6 {
  @apply text-sm font-bold uppercase text-lightMuted;
}

p {
  @apply max-w-prose font-sans tracking-tight text-text;
}

li {
  @apply max-w-prose font-sans ml-5 tracking-tight text-lightMuted;
}

hr {
  @apply border-t;
}

input[type="text"],
select,
textarea {
  @apply w-full  focus:outline-none bg-white p-1 rounded;
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
}

label {
  @apply font-header;
}

@layer components {
  .page-header {
    @apply mb-4 mt-12 text-primary text-xl md:text-3xl;
  }
  .page-subheader {
    @apply border-t mt-12 md:mt-0;
  }
  .games-grid {
    @apply grid grid-cols-3 sm:grid-cols-6 gap-6 mt-3 lg:grid-cols-12;
  }
  .details {
    @apply md:grid grid-cols-12 mx-auto mt-8 max-w-5xl gap-8;
  }
  .btn {
    @apply py-2 px-3 w-fit text-center cursor-pointer bg-secondary duration-100 text-white rounded uppercase;
  }
  .btn-disabled {
    @apply cursor-not-allowed bg-gray-400;
  }
  .card {
    @apply bg-backgroundAccent rounded p-3 border;
  }
  .input-wrapper {
    @apply border-darkMuted bg-white border p-1 rounded;
  }

  .link {
    @apply hover:text-primary transition;
  }

  .btn:hover {
    filter: brightness(105%);
  }
  .btn:active {
    filter: brightness(90%);
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}

@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter.woff2") format("woff2");
}
@font-face {
  font-family: EBGaramond;
  src: url("~/assets/fonts/EBGaramond.woff2") format("woff2");
}
@font-face {
  font-family: Mulish;
  src: url("~/assets/fonts/Mulish.woff2") format("woff2");
}
